services:
  postgres:
    image: postgres:18
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: carmetasearch
#     volumes:
#       - postgres_data:/var/lib/postgresql/data

# volumes:
#   postgres_data: